body{
  margin: 0 0 0 0;
}
header, .first-section, .second-section, .third-section, .fourth-section, .fifth-section, .sixth-section{
  border-bottom: solid;
  border-color: rgb(245, 245, 245);
  
}
header{
  min-height: 160px;
  margin: auto;
  display: flex;  
}
.logo-header{
  width: 100px;
  display: inline-block;
  margin-right: 20px;
}
.header-text-logo{
  display: inline-block;
  margin: auto;
  align-self: center;
  min-width: 250px;
}
.header-left{
  font-family: Ysabeau;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  margin: auto;
  padding-left: 75px;
}
.header-right{
  display: inline-block;
  align-self: center;
  margin: auto;
}
.header-button{
  font-family: Roboto;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
  white-space: nowrap;
  border-radius: 25px;
  transition: all 0.15s;
  line-height: 2;
  text-decoration: none;
  color: black;
}
.header-button:hover{
  font-weight: 700;
  background-color: rgb(80, 180, 130);
  transition: all 0.15s;
}
.first-section{
  /*height: 750px;*/
  display: flex;
}
@media screen and (min-width: 1050px){
  .first-section-left{
    display: inline-block;
    width: 50%;
  }
}.first-section-left{
  height: 750px;
  }

.first-section-1, .first-section-2, .first-section-3, .first-section-4{
  max-width: 450px;
  font-family: poppins;
  margin: 0 auto;
}
.first-section-1{
  font-size: 18px;
  color: rgb(80, 180, 130);
  margin-top: 200px;
  letter-spacing: 1.5px;
}
.first-section-2{
  font-size: 56px;
  font-weight: 600;
  top: 270px;
}
.first-section-3{
  font-size: 22px;
  color: dimgray;
  top: 430px;
  font-weight: 600;
}
.first-section-4{
  top: 500px;
  max-width: 550px;
  align-items: center;
}
.button-left, .button-right, .button-wegwijzer{
  border: none;
  font-family: poppins;
  margin: 10px 10px;
  padding: 10px 40px 10px 40px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;  
}
.button-left{
  color: white;
  background-color: rgb(55, 55, 55);
}
.button-left:hover{
  background-color: rgb(75 ,75 ,75);
}
.button-right, .button-wegwijzer{
  background-color: rgb(80, 180, 130);
  color: black;
  text-decoration: none;
}
.button-right:hover, .button-wegwijzer:hover{
  background-color: rgb(100, 200, 150);
}
@media screen and (min-width: 1050px){
  .first-section-right{
    display: inline-block;
    width: 50%;
  }
 }
 .first-section-right{
  height: 750px;
 }
 .first-section-picture{
  height:100%;
  width: 100%;
  object-fit: cover;
 }
.second-section{
  min-height: 700px;
}
.second-section-left{
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  position: relative;
 }
.second-section-picture{
  width: 500px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateX(50%) translateY(50%);
}
.second-section-right{
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  position: absolute;
 }
.second-cont{
  position: absolute;
  top: 50px;
  left: 15%;
  max-width: 700px;
  font-family: poppins;
 }
 .second-section-1, .second-section-2, .second-section-3, .second-section-4{
  max-width: 450px;
}
.second-section-2{
  color: rgb(80, 180, 130);
  font-size: 56px;
  font-weight: 600;
}

.second-section-4{
  color: grey;
}
.button-wegwijzer{
  margin-left: 60px;
}
.second-section-5{
  align-items: center;
  margin-bottom: 50px;
  
}
.section-top{
  height: 120px;
  text-align: center;
}
.section-title, .form-title{
  font-family: poppins;
  font-size: 36px;
  font-weight: 600;
  padding-top: 30px;
  color: rgb(80, 180, 130);
}
.third-section-bottom{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  justify-items: center;
}
.box-1, .box-2, .box-3{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12), 0px 0px 6px rgba(0, 0, 0, 0.06);
  width: 350px;
  height: 700px;
  top: 30px;
  margin: 80px auto;
}
.box-picture, .box-title, .box-text{
 line-height: 1.6;
}
.box-image{
  width: 350px;
  height: 250px;
  object-fit: cover;
}
.box-title{
  width: 310px;
  font-family: poppins;
  font-size: 18px;
  font-weight: 500;
  margin: 20px 20px;
}
.box-text{
  width: 310px;
  font-family: Roboto;
  font-size: 16px;
  margin: 20px 20px 20px 20px;
  color: rgb(55, 55, 55);
}
.section-links{
  height: 100px;
  text-align: center;
  align-content: center;
  margin-bottom: 50px;
}
.section-undertitle{
  font-family: Roboto;
  font-size: 16px;
  color: rgb(55, 55, 55);
}
.step{
  max-width: 1100px;
  margin: 30px auto;
  padding:10px;
  border-radius: 17px;
  box-shadow: 0 10px 20px rgb(205, 205, 205, 0.7);
  display: grid;
  grid-template-columns: 50px 1fr;
}

.step-image{
  align-items: center;
  align-content: center;
}
.step-image img{
  width: 50px;
}
.step-expl{
  padding: 15px;
}
.step-title{
  font-family: poppins;
  font-size: 16px;
  color: rgb(80, 180, 130);
}
.step-text{
  font-family: Roboto;
  font-size: 14px;
  color: rgb(75 ,75 ,75);
}
.price-group{
  border-radius: 17px;
  box-shadow: 0 10px 20px rgb(205, 205, 205, 0.7);
  margin: 30px auto;
  padding: 15px;
  max-width: 1100px;
  min-width: 430px;
}
.price-title{
  font-family: poppins;
  font-size: 22px;
  font-weight: 500;
  color: rgb(80, 180, 130);
  text-align: center;
}
@media screen and (min-width: 1300px){
  .price-list{
    column-count: 2;   
  }
}
.price-set{
  border: solid 10px white;
  padding: 10px;
  width: 400px;
  height: 50px;
  break-inside : avoid;
  }
.price-set-top{
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.price-item{
  font-family: roboto;
  font-size: 20px;
  }
.space-holder{
  border-bottom: 0.2px solid rgb(205, 205, 205);
  display: inline-block;
  }
.price{
 font-family: roboto;
 font-size: 18px;
 font-weight: 600;
}
.price-set-bottom{
  font-family: roboto;
  color: rgb(150, 150, 150);
  margin-top: 10px;
}
footer{
  background-color: black;
  color: white;
  font-family: roboto;
}
@media screen and (min-width: 800px) {
  .footer-top{
    column-count:  2;
    height: 300px;
  }
  .footer-adres{
    height: 300px;
  }
  .footer-adres{
    padding-top: 95px;
    padding-left: 20px;
    line-height: 2;
  }
}
.footer-top{
  
  border-bottom: solid 0.2px rgb(120, 120, 120);
  width: 80%;
  margin: auto;
}
.footer-logo{
  height: 200px;
  position: relative;
}
.footer-logo-picture{
  position: absolute;
  width: 100px;
  top: 50px;
}
.footer-logo-text{
  position: absolute;
  top: 90px;
  left: 120px;
  font-size: 20px;
}

.footer-legal, .form-info{
  height: 50px;
  color: rgb(120, 120, 120);
  font-family: Roboto;
}
.footer-links{
  height: 50px;
}
.footer-link{
 color: white;
 border: none;
 text-decoration: none;
 padding-left: 5px;
}
.footer-bottom-container{
  margin: auto;
  width: 80%;
  height: 100px;
  position: relative;
  color: rgb(120, 120, 120);
}
.footer-bottom{
  
  position: absolute;
  top:30%;
}
.section-thanks{
  font-family: Roboto;
  color: rgb(80, 180, 130);
  font-size: 24px;
  margin: 100px;
}

.form-full{
  margin:0 auto;
  padding-bottom: 30px;
  max-width: 1000px;
}
input[type=text], input[type=email], input[type=number], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 4px;
  box-sizing: border-box;
}
.tekstbericht{
  height: 200px;
}
textarea{
  font-family: Roboto;
}
.section-cond{
  padding: 100px;
  font-family: Roboto;
}